* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: Linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
}
.container {
  background-color: white;
  width: 85%;
  margin: 40% auto;
  border-radius: 20px;
}
.image {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.shadow {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
.woman {
  /* position: absolute;
  top: -4em; */
  width: 100%;
  margin: -45% auto;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}
li {
  list-style: none;
  border-bottom: 0.5px solid hsl(240, 6%, 50%);
}
.hidden {
  display: none;
}
.active {
  transform: rotate(180deg);
}
/*img {
    width: 70%;
    bottom: 11em;
    position: absolute;
  }*/
.rest {
  padding: 8%;
}

h3 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}
.sm-line {
  display: block;
  padding: 1em;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 12px;
  color: hsl(240, 6%, 50%);
  font-weight: 400;
}
.question {
  display: flex;
  justify-content: space-between;
}
.question:hover {
  color: hsl(14, 88%, 65%);
}
.question svg {
  margin-top: 0.3em;
  cursor: pointer;
}
.q {
  color: black;
}
.sm-hidden {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  text-align: left;
  padding-top: 1em;
}
@media (min-width: 376px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .container {
    display: flex;
    z-index: 1;
    width: 60%;
    height: 70%;
    /* flex-direction: row; */
  }
  .image {
    width: 50%;
    padding-left: 0;
    margin-left: 0;
    background-image: url(/images/bg-pattern-desktop.svg);
    object-fit: cover;
    background-position: top 80% left 100%;
    overflow: hidden;
  }

  .woman {
    content: url(/images/illustration-woman-online-desktop.svg);
    object-fit: cover;
    width: 115%;
    top: 50%;
    left: -15%;
    z-index: 0;
  }
  .shadow {
    position: fixed;
    content: url(/images/illustration-box-desktop.svg);
    z-index: 2;
    width: 15%;
    overflow: visible;
    left: 12.7%;
    top: 43%;
  }
  .rest {
    margin-top: 0;
    width: 50%;
    height: 100%;
    /* padding-left: 4em; */
    padding-left: 8%;
    padding-right: 11%;
    text-align: left;
  }
  .question {
    font-size: 16px;
    font-weight: 400;
  }
  .q {
    font-weight: 700;
  }
  h3 {
    text-align: left;
    font-size: 2em;
    padding-bottom: 1%;
  }
  .sm-hidden {
    line-height: 1em;
    font-size: 14px;
    padding: 2% 0;
  }
}
/* .image {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
} */
